# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger: none

pool:
  name: 'dwipool'
  demands:
    - agent.name -equals dwiagent


stages:
  - stage: GitCheckout
    displayName: GitCheckout
    jobs:
      - job: GitCheckOutJob
        displayName: GitCheckOutJob
        steps:
          - script: |
                echo ls -lrt $(System.DefaultWorkingDirectory)
      - job:
        displayName: Timepass
        steps:
          - script: echo "Hello World"

