# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger: none

pool:
  name: 'dwipool'
  demands:
    - agent.name -equals dwiagent


stages:
  - stage: GitCheckout
    displayName: GitCheckout
    jobs:
      - job: GitCheckOutJob
        displayName: GitCheckOutJob
        steps:
          - script: |
                echo ls -lrt $(System.DefaultWorkingDirectory)
      - job: Timepass
        dependsOn: GitCheckOutJob
        displayName: Timepass
        steps:
          - script: echo "Hello World"
      # - job: 
      #   dependsOn: Timepass
      #   displayName: TrivyFsScan
      #   steps:
      #     - script: |
      #           trivy fs --exit-code 1 --severity HIGH,CRITICAL .
                
      - job: ACRSCAN
        dependsOn: GitCheckOutJob
        steps:
        - script: |
            curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash
            az --version
          displayName: "Install Azure CLI (Linux)" 
        - script: |
            cd /home/dwiuser/myagent/_work/1/s/Project 01/java-maven
            mvn package 
          displayName: PackagePhase
        - task: AzureCLI@2
          displayName: Doing Azure Login
          inputs:
            azureSubscription: 'DevSecOpsSCON'   # <-- your service connection name
            scriptType: 'bash'
            scriptLocation: 'inlineScript'
            inlineScript: |
              az acr login --name dwidevsecops 
              # docker build -t myacr.azurecr.io/myapp:v1 .
              # docker push myacr.azurecr.io/myapp:v1
          
 
